/* ADD YOUR STYLES HERE */

/*THIS IS FOR #1 DATA TABLE

*/

.table-style {
	width: 100%
}

.table-style tr {
	border-bottom: 1px solid #C0C0C0;
}

.table-style th, td {
	padding: 10px;
}

.table-style .last-row {
	border-bottom: 0px solid #C0C0C0;
}

.stats {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}


/*This is for #2 STATS

*/

.stats td {
	padding: 20px;
	text-align: center;
}

.numbers {
	font-size: 30px;
	font-weight: 900;
}

.labels {
	font-size: 10px;
	color: #C0C0C0;
}


/*this is for #3 Bar Chart

*/
.bar-chart div {
	color: white;
	background-color: #1E90FF;
	text-align: left;
	padding-left: 6px;
	border-radius: 5px;
}

.bar-chart {
	width: 100%;

}

.bar-chart th {
	text-align:right;
	padding-left: 0px;
	width: 15%;
}

.bar-chart th, td {
	padding-top: 1px;
	padding-bottom: 1px;
}

/*THIS IS FOR #4 LIGHTBOX 

*/

body {
	background-color: gray;
}

.box {
	position: fixed;
	padding: 20px;
	border-radius: 5px;
	top: 35%;
	left: 35%;
	right: 35%;
	width: 400px;
	background-color: white;
}

.close-button {
	float: right;
	display: inline-block;
	text-align: center;
	margin: auto;
	background-color: pink;
	padding: 7px 35px;
	border-radius: 5px;
}

.close-button  a {
	text-decoration: none;
	color: white;
}












