/* ADD YOUR STYLES HERE */


.table-style {
	width: 100%
}

.table-style tr {
	border-bottom: 1px solid #C0C0C0;
}

.table-style th, td {
	padding: 10px;
}

.table-style .last-row {
	border-bottom: 0px solid #C0C0C0;
}

.stats {
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
}

.stats td {
	padding: 20px;
	text-align: center;
}

.numbers {
	font-size: 30px;
	font-weight: 900;
}

.labels {
	font-size: 10px;
	color: #C0C0C0;
}

.bar-chart div {
	color: white;
	background-color: #1E90FF;
	text-align: left;
	padding-left: 6px;
	border-radius: 5px;
	/*border-top-right-radius: 25%;
	border-bottom-right-radius: 25%;*/
}

.bar-chart {
	width: 100%;

}

.bar-chart th {
	text-align:right;
	padding-left: 0px;
	width: 15%;
}

.bar-chart th, td {
	padding-top: 1px;
	padding-bottom: 1px;
}